.detail-container {
  max-width: 70%;
  margin: auto;

  .form-container {
    text-align: left;

    .post-heading {
      margin-bottom: 20px;
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .post-subheading {
      font-size: 0.7rem;
      background: #333;
      color: #fff;
      padding: 3px 6px;
      letter-spacing: 1px;
      border-radius: 10px;
      margin-left: 5px;
      text-transform: capitalize;
    }

    .post-content {
      font-size: 1.2rem;
      text-align: justify;
      white-space: pre-wrap;
    }
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .left-button-group {
      font-size: 1.5rem;
    }

    .right-button-group {
      .like-button {
        font-size: 1.2rem;
        color: #a4a4a4;
        cursor: pointer;
      }

      .liked {
        color: #406BA7;
      }
    }
  }
}

@media (max-width: 500px) {
  .detail-container {
    max-width: 90%;
  }
}